<template>
  <b-card
    no-body
    class="overflow-hidden"
    border-variant="light"
    style="background-color: ghostwhite;"
  >
    <b-row class="card-body" no-gutters>
      <b-col md="1"> <marco /> </b-col>
      <b-col md="11">
        <b-card-body
          title="Datos de contacto"
          text-variant="dark"
          style="background-color: gainsboro;"
          align="left"
        >
          <b-card-text>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.correo"
                  :state="correoState"
                  aria-describedby="input-error"
                  placeholder="Correo electrónico"
                  type="email"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error">
                  Ingresa un correo valido
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.telefono"
                  :state="telefonoState"
                  aria-describedby="input-error-telefono"
                  placeholder="Teléfono celular"
                  type="tel"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error-telefono">
                  Ingresa un correo
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
          </b-card-text>
        </b-card-body>
      </b-col>
    </b-row>
    <b-row
      v-if="$store.state.telefono && $store.state.correo"
      align-h="end"
      class="card-body"
    >
      <b-col
        md="11"
        align="left"
        class="pt-3 pb-0"
        style="background-color: violet;"
      >
        <p>Correo electrónico: {{ $store.state.correo }}</p>
        <p>Teléfono: {{ $store.state.telefono }}</p>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import marco from "./marco.vue";
export default {
  components: {
    marco,
  },
  computed: {
    correoState() {
      return this.$store.state.correo === ""
        ? null
        : /\S+@\S+\.\S+/.test(this.$store.state.correo);
    },
    telefonoState() {
      return this.$store.state.telefono.length === 10 ? true : null;
    },
  },
};
</script>

<style scoped>
.colorGris {
  background-color: gainsboro;
}
</style>
