<template>
  <b-card
    no-body
    class="overflow-hidden"
    border-variant="light"
    style="background-color: ghostwhite;"
  >
    <b-row class="card-body" no-gutters>
      <b-col md="1"> <marco /> </b-col>
      <b-col md="11">
        <b-card-body
          title="¿Cual es tu fecha de nacimiento?"
          style="background-color: gainsboro;"
          align="left"
        >
          <b-card-text>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.dia"
                  :state="diaState"
                  aria-describedby="input-error"
                  placeholder="Dia"
                  type="number"
                  min="1"
                  max="31"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error">
                  Ingresa un dia valido
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
            <b-row class="card-body">
              <b-col>
                <b-form-input
                  class="colorGris text-capitalize"
                  v-model="$store.state.mes"
                  :state="mesState"
                  aria-describedby="input-error-mes"
                  placeholder="Mes"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error-mes">
                  Ingresa un mes valido
                </b-form-invalid-feedback></b-col
              >
            </b-row>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.year"
                  :state="yearState"
                  aria-describedby="input-error-year"
                  placeholder="Año"
                  type="number"
                  min="1900"
                  max="2100"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error-year">
                  Ingresa un año valido
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
          </b-card-text>
        </b-card-body>
      </b-col>
    </b-row>
    <b-row v-if="$store.state.year > 1899" align-h="end" class="card-body">
      <b-col md="11" align="left" class="p-2" style="background-color: violet;">
        {{ $store.state.dia }} {{ $store.state.mes }} {{ $store.state.year }}
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import marco from "./marco.vue";
export default {
  components: {
    marco,
  },
  data() {
    return {
      options: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ],
    };
  },
  watch: {
    "$store.state.mes": function() {
      this.$store.state.mes = this.capitalize(this.$store.state.mes);
    },
    "$store.state.year": function() {
      if (this.yearState) this.$store.dispatch("mostrarContacto");
    },
  },
  computed: {
    diaState() {
      return this.$store.state.dia === ""
        ? null
        : this.$store.state.dia > 0 && this.$store.state.dia < 32
        ? true
        : false;
    },
    mesState() {
      return this.$store.state.mes != ""
        ? this.options.includes(this.$store.state.mes)
        : null;
    },
    yearState() {
      return this.$store.state.year === ""
        ? null
        : this.$store.state.year > 1900 && this.$store.state.year < 2100
        ? true
        : false;
    },
  },
  methods: {
    capitalize(s) {
      if (typeof s !== "string") return "";
      return s.charAt(0).toUpperCase() + s.slice(1);
    },
  },
};
</script>

<style scoped>
.colorGris {
  background-color: gainsboro;
}
</style>
