<template>
  <b-card-img
    :src="require('../assets/callcenter.jpg')"
    alt="Image"
    thumbnail
    fluid
    rounded="circle"
    v-bind="mainProps"
  ></b-card-img>
</template>

<script>
export default {
  data() {
    return {
      mainProps: {
        width: 75,
        height: 75,
      },
    };
  },
};
</script>
