<template>
  <b-card
    no-body
    class="overflow-hidden"
    border-variant="light"
    style="background-color: ghostwhite;"
  >
    <b-row class="card-body" no-gutters>
      <b-col md="1"> <marco /> </b-col>
      <b-col md="11">
        <b-card-body
          title="¿Cual es tu nombre?"
          style="background-color: gainsboro;"
          align="left"
        >
          <b-card-text>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.nombre"
                  :state="nombreState"
                  aria-describedby="input-error"
                  placeholder="Nombre"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error">
                  Ingresa un nombre
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.segundoNombre"
                  placeholder="Segundo nombre"
                ></b-form-input
              ></b-col>
            </b-row>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.apellidoPaterno"
                  :state="apellidoState"
                  aria-describedby="input-error-apellido"
                  placeholder="Apellido paterno"
                ></b-form-input>
                <b-form-invalid-feedback id="input-error-apellido">
                  Ingresa un apellido
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
            <b-row class="card-body">
              <b-col
                ><b-form-input
                  class="colorGris"
                  v-model="$store.state.apellidoMaterno"
                  placeholder="Apellido materno"
                ></b-form-input
              ></b-col>
            </b-row>
          </b-card-text>
        </b-card-body>
      </b-col>
    </b-row>
    <b-row v-if="$store.state.nombre" align-h="end" class="card-body">
      <b-col md="11" align="left" class="p-2" style="background-color: violet;">
        {{ $store.state.nombre }} {{ $store.state.segundoNombre }}
        {{ $store.state.apellidoPaterno }}
        {{ $store.state.apellidoMaterno }}
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import marco from "./marco.vue";
export default {
  components: {
    marco,
  },
  watch: {
    "$store.state.apellidoPaterno": function() {
      if (this.apellidoState && this.nombreState)
        this.$store.dispatch("mostrarFecha");
    },
    "$store.state.nombre": function() {
      if (this.apellidoState && this.nombreState)
        this.$store.dispatch("mostrarFecha");
    },
  },
  computed: {
    nombreState() {
      return this.$store.state.nombre.length > 2 ? true : null;
    },
    apellidoState() {
      return this.$store.state.apellidoPaterno.length > 2 ? true : null;
    },
  },
};
</script>

<style scoped>
.colorGris {
  background-color: gainsboro;
}
</style>
