<template>
  <div id="app">
    <b-container>
      <b-card border-variant="light" align="center">
        <b-row class="card-body" style="background-color: violet;">
          <b-col mt="5" cols="6"><h2>Formulario de contacto</h2></b-col>
          <b-col cols="6">
            <b-icon
              icon="question-square"
              style="width: 120px; height: 120px;"
              variant="light"
            ></b-icon
          ></b-col>
          <b-col cols="6">
            <h5><b-icon icon="watch"></b-icon> En menos de 5 minutos</h5></b-col
          >
        </b-row>

        <b-row class="card-body" style="background-color: ghostwhite;">
          <nombre v-if="$store.state.menuNombre" />
          <fecha v-if="$store.state.menuFecha" />
          <contacto v-if="$store.state.menuContacto" />
          <b-row class="card-body">
            <b-button
              v-if="$store.state.telefono && $store.state.correo"
              block
              style="background-color: crimson;"
              @click="iniciarMethod()"
              >Iniciar</b-button
            >
          </b-row>
          <b-row v-if="iniciar" class="card-body" align-h="end">
            <b-col
              align="left"
              class="card-body"
              style="background-color: violet;"
            >
              <p>
                Fecha de nacimiento: {{ $store.state.dia }}
                {{ $store.state.mes }} {{ $store.state.year }}
              </p>

              <p>Correo electrónico: {{ $store.state.correo }}</p>
              <p>Teléfono celular: {{ $store.state.telefono }}</p>
              <p>
                Nombre: {{ $store.state.nombre }}
                {{ $store.state.segundoNombre }}
                {{ $store.state.apellidoPaterno }}
                {{ $store.state.apellidoMaterno }}
              </p>
            </b-col>
          </b-row>
          <b-alert v-if="guardado" variant="success" show
            >Guardado correctamente</b-alert
          >
          <b-alert v-else-if="guardado === 0" variant="danger" show
            >No guardado</b-alert
          >
        </b-row>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import nombre from "./components/nombre.vue";
import fecha from "./components/fecha.vue";
import contacto from "./components/contacto.vue";
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      iniciar: "",
      guardado: "",
    };
  },
  components: {
    nombre,
    fecha,
    contacto,
  },
  methods: {
    iniciarMethod() {
      this.iniciar = 1;
      var valores = {
        Fecha:
          this.$store.state.dia +
          " " +
          this.$store.state.mes +
          " " +
          this.$store.state.year,
        Correo: this.$store.state.correo,
        Teléfono: this.$store.state.telefono,
        Nombre:
          this.$store.state.nombre +
          " " +
          this.$store.state.segundoNombre +
          " " +
          this.$store.state.apellidoPaterno +
          " " +
          this.$store.state.apellidoMaterno,
      };
      localStorage.setItem("usuario", JSON.stringify(valores));
      var data = JSON.stringify({
        nombre: this.$store.state.nombre,
        segundo_nombre: this.$store.state.segundoNombre,
        apellido_paterno: this.$store.state.apellidoPaterno,
        apellido_materno: this.$store.state.apellidoMaterno,
        fecha_de_nacimiento:
          this.$store.state.dia +
          " " +
          this.$store.state.mes +
          " " +
          this.$store.state.year,
        email: this.$store.state.correo,
        telefono: this.$store.state.telefono,
      });

      var config = {
        method: "post",
        url: this.API_URL + "/api/usuarios",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };
      axios(config).then((result) => {
        if (result.status == 200) {
          this.guardado = 1;
        }
      });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
